<% layout('layout') -%>
<h1>This is you.<BR><small>Hey <%= user.username %>!</small></h1>
<img width="300px" height=auto src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-prn2/t31/279006_10151361163064591_730101631_o.jpg" alt="profpic" class="img-rounded"><BR>
<h3> The things you do: </h3>
<section>
<% for(var i=0; i<userRallies.length; i++) {%>
	<div class="activityProf">
   			<h3 class="activityColor"><a href="/activity/<%= userRallies[i]._id%>"><%= userRallies[i].title %></a></h3>			
            <div class="description">
                   <p>Location: <%= userRallies[i].location %><br>
                  Date: <%= userRallies[i].date %><br>
                  Time: <%= userRallies[i].time %></p>
         </div>
   	</div><br><br>
<% } %> 

<h3> Your Rallies: </h3>
<section>
<% for(var i=0; i<joined.length; i++) {%>
	<div class="activityProf">
   			<h3 class=activityColor><a href="/activity/<%= joined[i]._id%>"><%= joined[i].title %></a></h3>			
   			<div class="description">
                           <p>Location: <%= joined[i].location %><br>
                           Date: <%= joined[i].date %><br>
                           Time: <%= joined[i].time %></p>
   		</div>
   	</div><br><br>
<% } %> 
</section>

