<% layout('layout') -%>

<div id="hiddenNotice"></div>
<% if (success.length > 0) { %>
  <p><div class='alert alert-success'> <%= success%></div></p>
  <% } %>

<a id="showUpload" href="#"><img width="100px" height=auto style= "float: left " src="<%= user.imageURL %>" alt="profpic" class="img-circle"></a>

<div class="photoupload" style="display:none;">
  <form method="post" enctype="multipart/form-data" action="/file-upload">
      <input type="file" name="profPic">
      <input type="submit" class="btn btn-success btn-sm">
  </form>
</div>
<BR>
<BR>
<div>
<h1 style=""><%= user.username %></h1>
<h3> People who have friended you: </h3>
<% if(friendsArr.length == 0) {%>
 Looks like nobody is following you...
<% } %>
<div id="friended">
<% for(var j = 0; j < friendsArr.length; j++) {%>
  <li style="display: inline-block;"><a href="/user/<%= friendsArr[j]._id %>"><img class="img-circle" width="75px" height="75px" src="<%= friendsArr[j].imageURL %>"></a>
                      <center><%= friendsArr[j].username %></center>
  </li>
<% } %>
</div>
<BR>
<h3> Rallies you've created: </h3>
<section>
<% for(var i=0; i<userRallies.length; i++) {%>
	<div class="activityProf">
   			<h3 class="activityColor"><a href="/activity/<%= userRallies[i]._id%>"><%= userRallies[i].title %></a></h3>			
            <div class="description">
                   <p><%= userRallies[i].location %><br>
                  <%=(new Date(userRallies[i].date)).getMonth()+1+"/"+(new Date(userRallies[i].date)).getDate()+"/"+(new Date(userRallies[i].date)).getFullYear()%>, <%= userRallies[i].time %><br>
                  </p>
         </div>
   	</div><br><br>
<% } %> 
<BR>
<h3> Rallies you've joined: </h3>
<section>
<% for(var i=0; i<joined.length; i++) {%>
	<div class="activityProf">
   			<h3 class=activityColor><a href="/activity/<%= joined[i]._id%>"><%= joined[i].title %></a>
        <form>
          <input type="hidden" value="<%= joined[i]._id%>" name="rally_id" id="rally_id_hidden">
          <button type="button" id="unrallyButton" class="btn unrallybtn btn-danger">Unrally</button></h3>
        </form>
   			<div class="description">
                           <p><%= joined[i].location %><br>
                          <%=(new Date(joined[i].date)).getMonth()+1+"/"+(new Date(joined[i].date)).getDate()+"/"+(new Date(joined[i].date)).getFullYear()%>, <%= joined[i].time %><br>
                           </p>
   		</div>
   	</div><br><br>
<% } %> 
</section>
</div>


