<% layout('layout') -%>

<div id="hiddenNotice"></div>
<% if (success.length > 0) { %>
  <p><div class='alert alert-success'> <%= success%></div></p>
  <% } %>

<img width="75px" height=auto style= "float: left " src="<%= user.imageURL %>" alt="profpic" class="img-rounded"><BR>
<BR>
<h1 style=""><%= user.username %></h1>
<div class="photoupload">
Upload a new picture:
  <form method="post" enctype="multipart/form-data" action="/file-upload">
      <input type="file" name="profPic">
      <input type="submit" class="btn btn-success btn-sm">
  </form>
</div><br><br><br>
<h3 style> Rallies you've created... </h3>
<section>
<% for(var i=0; i<userRallies.length; i++) {%>
	<div class="activityProf">
   			<h3 class="activityColor"><a href="/activity/<%= userRallies[i]._id%>"><%= userRallies[i].title %></a></h3>			
            <div class="description">
                   <p><%= userRallies[i].location %><br>
                  <%=(new Date(userRallies[i].date)).getMonth()+1+"/"+(new Date(userRallies[i].date)).getDate()+"/"+(new Date(userRallies[i].date)).getFullYear()%>, <%= userRallies[i].time %><br>
                  </p>
         </div>
   	</div><br><br>
<% } %> 
<BR>
<h3> Rallies you've joined... </h3>
<section>
<% for(var i=0; i<joined.length; i++) {%>
	<div class="activityProf">
   			<h3 class=activityColor><a href="/activity/<%= joined[i]._id%>"><%= joined[i].title %></a>
        <form>
          <input type="hidden" value="<%= joined[i]._id%>" name="rally_id" id="rally_id_hidden">
          <button type="button" id="unrallyButton" class="btn unrallybtn btn-danger">Unrally</button></h3>
        </form>
   			<div class="description">
                           <p><%= joined[i].location %><br>
                          <%=(new Date(joined[i].date)).getMonth()+1+"/"+(new Date(joined[i].date)).getDate()+"/"+(new Date(joined[i].date)).getFullYear()%>, <%= joined[i].time %><br>
                           </p>
   		</div>
   	</div><br><br>
<% } %> 
</section>


