<% if (!user) { %>
<% layout('notloggedlayout1') -%>
	<div class="masked">
		<h1 class="titletext">Rally </i></h1>
	</div>

	<a href="/signup"><button type="submit" class="btn btn-block btn-primary">Sign Up</button></a>
	<BR>
	<a href="/login"><button type="submit" class="btn btn-block btn-success">Sign In</button></a>

	<h2><small>What is Rally?</small></h2>
	<p>Use Rally to do things with the people you care about. Playing basketball this afternoon? Post about it on Rally and see how many friends you can Rally!</p>

	<h2><small>Who made rally?</small></h2>
	<p>Rally was created by Dylan Moore, Kiana Hui, Kay Christensen, and David Jiang.</p>

	<!-- <img width="275px" src="http://bricknewyork.com/wp-content/uploads/2013/09/party.jpg"/> -->

 
	<!--
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="white">Contact Us</h1>
                    <div id="contact_form" class="row">
					  <div class="col-12 col-sm-12 col-lg-12">
					    <p>We appreciate any feedback about your overall experience on our site or how to make it even better.  Please fill in the below form with any comments and we will get back to you.</p>
					    <form role="form" id="feedbackForm">
					      <div class="form-group">
					        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
					        <span class="help-block" style="display: none;">Please enter your name.</span>
					      </div>
					      <div class="form-group">
					        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
					        <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
					      </div>
					      <div class="form-group">
					        <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message"></textarea>
					        <span class="help-block" style="display: none;">Please enter a message.</span>
					      </div>
					      
					      <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;">Send Feedback</button>
					    </form>
					  </div>
					</div>
                </div>
            </div>
        </div>
    </section> -->




<% } else { %>
<% layout('layout') -%>
	<div class="center">
		<h2>Hey, <%= user.username %>!</h2>
		<div id="hiddenNotice"></div>
		<% if (success.length > 0) { %>
		<p><div class='alert alert-success'> <%= success%></div></p>
		<% } %>
		<div class="row">
			<div class="col-xs-12">
				<!-- Button trigger modal -->

				<button class="btn btn-primary btn-lg activityBackgroundColor" data-toggle="modal" data-target="#myModal">
				 <i class="fa fa-plus fa-1x" ></i> Activity
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">Add Activity</h4>
				      </div>
				      <div class="modal-body">
				        <form id="activityForm">
				        	<input type="text" id="activityName" class="form-control" placeholder="Activity name"><br>
				        	<input type="text" id="activityLocation"  class="form-control" placeholder="Location"><br>
				        	Date <input type="date" id="activityDate"  class="form-control"><br>
				        	Time <input type="time" id="activityTime"  class="form-control">
				        	<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        	<button type="button" id="addActivityButton" class="btn btn-primary">Add Activity</button>
				      </div>
				        </form>
				      </div>
				      
				    </div>
				  </div>
				</div><!-- End Modal -->
				<!-- Button trigger modal -->

				<button class="btn btn-success btn-lg friendsBackgroundColor" data-toggle="modal" data-target="#friendModal">
				<i class="fa fa-plus fa-1x" ></i> Friend  
				</button>

				<!-- Modal -->
				<div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">Add Friend</h4>
				      </div>
				      <div class="modal-body">
				      	What's your friend's name?<BR>
				        <form id="addFriendForm">
				        	<input type="text" id="friendName" placeholder="Name"  class="form-control">
				        	<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        	<button type="button" id="addFriendButton" class="btn btn-primary">Add Friend</button>
				      </div>
				        </form>
				      </div>
				      </div>
				      
				    </div>
				  </div>
				</div><!-- End Modal -->
			</div><!-- End Col -->

			<div class="col-xs-12">
				<BR>
				<% if(allActivities.length == 0) { %>
					<p>It looks like you aren't following any activities. You should add some friends and rally with them!</p>
				<% } %>
				<div class="all-activities">
				<% for(var i=0; i<allActivities.length; i++) {%>
					<div class="activity" data-id="<%= allActivities[i]._id %>">
				   			<h3 class="activityColor"><a href="/activity/<%= allActivities[i]._id %>"><%= allActivities[i].title %></a></h3>
				   			
				   			<button type="button" class="btn btn-success rallyBtn">Rally!</button>
   							<div class="description">
						Location: <%= allActivities[i].location %><br>
                          <%=(new Date(allActivities[i].date)).getMonth()+1+"/"+(new Date(allActivities[i].date)).getDate()+"/"+(new Date(allActivities[i].date)).getFullYear()%>, <%= allActivities[i].time %>
                           
   							</div>

				   	</div><br><br>
				<% } %> <!--end of for loop-->
			</div>

		</div><!-- End Row -->
	</div> <!-- End Container -->
<% } %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48564564-1', 'gorally.me');
  ga('send', 'event', 'rally', 'click');
  ga('send', 'pageview');

</script>

