<% layout('layout') -%>
<class="row-fluid">
<a href="/friends">
<button class="btn btn-primary btn-lg friendsBackgroundColor" data-toggle="modal" data-target="#myModal">
				  <i class="fa fa-arrow-left fa-1x" ></i> 
</button>
</a>
	<div class="col-md-12">
		<BR>
		<img width="300px" height="auto" src="<%= friend.imageURL %>">
		<h1 class=friendsColor>Your buddy: <%=friend.username%></h1>
		<% 
		var isFriend = false;
		for(var i = 0; i < user.friends.length; i++) { 
			if(user.friends[i].toString() == friend._id.toString()) {
				isFriend = true;
			}
		} 
		%>
		<% if(isFriend) { %>
			<form id="deleteFriendForm" method="post" action="/user/delete">
				<input type="hidden" id="yourID" name="yourID" value="<%= user._id%>">
                <input type="hidden" id="friendID" name="friendID" value="<%= friend._id%>">
                <button class="btn btn-danger btn-lg" id="deleteFriend">
                  Un-friend  </i>
                </button>
             </form>
		<% } %>
		<h4>Check out what your friend is up to:</h4>
		<ul>
			<% for(var i = 0; i < friendRallies.length; i++) { %>
				<li><a href="/activity/<%= friendRallies[i]._id%>"><%= friendRallies[i].title%></a></li>
			<% } %>
		</ul>
	</div>
</div>
